
  - job_name: alertmanager
    scheme: https
    static_configs:
      - targets:
        - alertmanager.${HOSTNAME}.${DOMAIN_NAME}
        labels:
          instance: ${INSTANCE_ID}
          datacenter: ${INSTANCE_DATACENTER}
          instance_type: ${INSTANCE_TYPE}
          instance_image: ${INSTANCE_IMAGE}
          instance_ip: ${INSTANCE_IP}
    relabel_configs:
      - source_labels: [__name__]
        regex: '(go_|process_|python_).*'
        action: drop
